<!--いいね一覧-->
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
    
      <h2 class="text-center page-title">〜いいね一覧〜</h2>

      <%= render 'users/my_list', lists: @favorites %>
      
    </div>

  </div>
</div>