<h2 class="text-center">About</h2>

<div class="about-box">
 <ul class="about-list">
    <li class="about-list-box">
        <p class="photo"><img src="https://unsplash.it/300/200?image=875" alt="Photo"></p>
        <h4 class="txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h4>
    </li>
    <li class="about-list-box">
        <p class="photo"><img src="https://unsplash.it/300/200?image=896" alt="Photo"></p>
        <h4 class="txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</h4>
    </li>
    <li class="about-list-box">
        <p class="photo"><img src="https://unsplash.it/300/200?image=872" alt="Photo"></p>
        <p class="txt">テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </li>
    <li class="about-list-box">
        <p class="photo"><img src="" alt="Photo"></p>
        <p class="txt">テキストが入ります。テキストが入ります。</p>
    </li>
</ul>
</div>