<div class="main-visual">
  <!--画像スライド-->
  <div class="theTarget">
    <div style="background-image: url(/assets/metasekoia.jpg)"></div>
    <div style="background-image: url(/assets/enosima.jpg)"></div>
    <div style="background-image: url(/assets/kouyou.jpg)"></div>
    <div style="background-image: url(/assets/ajisai.jpg)"></div>
    <div style="background-image: url(/assets/sirakawagou.jpg)"></div>
  </div>
</div>

<main>

  <div class="top-description">
    <div class="top-description-box">
      <div class="top-description-title">
        <h1>What? LOCAL INFO TOURISM <i class="far fa-hand-point-down fa-xs"></i></h1>
      </div>
      <div class="top-description-text">
        <p>観光客と地元民をつなぐ交流系の地域ローカル情報サイトです。</p>
        <p>地元民だからこそ知っている、あのお店の美味しいグルメ情報やおすすめスポットをアピール！！</p>
        <p>旅行先での行って良かったスポット。是非おすすめしたいグルメ情報などを共有しましょう！</p>
        <p>旅行前に現地の情報が欲しい？お土産は何がいい？服装はどうしよう？質問してみましょう。誰かが反応してくれるかも？</p>
      </div>
      <div class="about-link">
        <%= link_to home_about_path do %>
          <p>
            <i class="fas fa-angle-double-right">
              詳しい使い方を見る？
            </i>
          </p>
        <% end %>
      </div>
      <div class="top-description-image-box">
        <div class="image-box"></div>
        <div class="image-box"></div>
        <div class="image-box"></div>
        <div class="image-box"></div>
        <div class="image-box"></div>
        <div class="image-box"></div>
      </div>
    </div>
  </div>

</main>


<script>
$(".theTarget").skippr({
  // スライドショーの変化（"fade" or "slide"）
  transition : 'fade',
  // 変化にかかる時間（ミリ秒）
  speed : 1000,
  // easingの種類
  easing : 'easeOutQuart',
  // ナビゲーションの形（"block" or "bubble"）
  navType : 'block',
  // 子要素の種類（"div" or "img"）
  childrenElementType : 'div',
  // ナビゲーション矢印の表示（trueで表示）
  arrows : false,
  // スライドショーの自動再生（falseで自動再生なし）
  autoPlay : true,
  // 自動再生時のスライド切替間隔（ミリ秒）
  autoPlayDuration : 3000,
  // キーボードの矢印キーによるスライド送りの設定（trueで有効）
  keyboardOnAlways : true,
  // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
  hidePrevious : false
});
</script>