<div class="main-visual">
  <!--画像スライド-->
  <div class="theTarget">
    <div style="background-image: url(/assets/kouyou.jpg)"></div>
    <div style="background-image: url(/assets/sky.jpg)"></div>
    <div style="background-image: url(/assets/yukigeshiki.jpg)"></div>
    <div style="background-image: url(/assets/coffee.jpg)"></div>
    <div style="background-image: url(/assets/siwagara.jpg)"></div>
  </div>
</div>

<main>

  <div class="main-message-box text-center">
    <img src="/assets/message_logo.png" alt="logo" width="800" height="100" >
  </div>

  <div class="top-description">
    <div class="top-description-box">
      <div class="top-description-title">
        <h1>What? LOCAL INFO TOURISM <i class="far fa-hand-point-down fa-xs btn_design"></i></h1>
      </div>
      <div class="top-description-text">
        <p>観光客と地元民をつなぐ交流系の地域ローカル情報サイトです。</p>
        <p>地元民だからこそ知っている、あのお店の美味しいグルメ情報やおすすめスポットをアピール！！</p>
        <p>旅行先での行って良かったスポット。是非おすすめしたいグルメ情報などを写真付きで共有しましょう！</p>
        <p>旅行前に現地の情報が欲しい？お土産は何がいい？服装は？質問してみましょう。誰かが反応してくれるかも？</p>
      </div>
      <div class="about-link">
        <%= link_to home_about_path do %>
          <p>
            <i class="fas fa-angle-double-right btn_design">
              詳しい使い方を見る？
            </i>
          </p>
        <% end %>
      </div>
      <div class="top-description-image-box">
        <div class="image-box btn_design"></div>
        <div class="image-box btn_design"></div>
        <div class="image-box btn_design"></div>
        <div class="image-box btn_design"></div>
        <div class="image-box btn_design"></div>
        <div class="image-box btn_design"></div>
      </div>
    </div>
  </div>

</main>
