<div class="sub-box">
  <div class="box-title">
    <i class="fas fa-bookmark" aria-hidden="true" style="color: blue;"></i>
    Ranking
  </div>
  <ul class="list_crown">
    <% all_ranks.each.with_index(1) do |rank, i| %>
      <li>
        <%= link_to post_path(rank) do %>
          第<%= i %>位<br>
          <%= rank.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>