<div class="container">

  <div class="col-xs-3"></div>
  <div class="col-xs-6">

    <%= render 'posts/errors', obj: @post %>
    
  
    <div class="sub-post-text">
      <p class="text-center">
        旅先の感想やお出かけ前に気になることを自由に投稿してみましょう
        <i class="fas fa-plane-departure"></i>
      </p>
    </div>

    <%= render 'posts/edit_form', form: @post %>
    
    <%= link_to "戻る", post_path(@post), class: "btn btn-success" %>

  </div>

</div>